.v-table-cell-content-unchecked-checkbox .v-table-cell-wrapper,
	.v-table-cell-content-checked-checkbox .v-table-cell-wrapper {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.v-table-cell-content-checked-checkbox .v-table-cell-wrapper {
	background-image: url("./img/accept16.png");
	width: 16px;
	background-repeat: no-repeat;
	background-position: center;
}

.v-table-cell-content-unchecked-checkbox .v-table-cell-wrapper {
	background-image: url("./img/unchecked-checkbox.png");
}